# Dependency directories
node_modules/

# Environment files
# But, do not ignore the local .env file!
*.env
!/.env 

# Logs
logs/
*.log
npm-debug.log*

# Build files
dist/

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.user
*.psess
*.bak

# Miscellaneous
.DS_Store
Thumbs.db
